@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 1440px;
  margin: auto;
  margin-top: 15px;
}

#group-stage {
  display: flex;
  position: absolute;
}

#group-stage .left-side-contenders {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 1000px;
}

#group-stage .right-side-contenders {
  display: flex;
  float: right;
  flex-direction: column;
  gap: 50px;
}

.groups {
  width: 150px;
  height: 100px;
  border-radius: 1rem;
  border: 2px solid rgb(158, 10, 10);
  border-top-left-radius: 0px;
}

/* .groups::before {
  content: 'Group';
  border: 2px solid rgb(158, 10, 10);
} */

#round-16 {
  display: flex;
  position: absolute;
}

#round-16 .left-side-contenders {
  display: flex;
  flex-direction: column;
  margin-right: 700px;
  margin-left: 200px;
  /* gap: 7px; */
}

#round-16 .right-side-contenders {
  display: flex;
  float: right;
  flex-direction: column;
  /* gap: 7px; */
}

.qualified-16 {
  height: 70px;
  width: 100px;
  border: 1px solid #333;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#quarters {
  margin-top: 30px;
  display: flex;
  position: absolute;
}

#quarters .left-side-contenders {
  display: flex;
  flex-direction: column;
  margin-right: 500px;
  margin-left: 300px;
  /* gap: 7px; */
}

#quarters .right-side-contenders {
  display: flex;
  float: right;
  flex-direction: column;
}

.qualified-quarters {
  height: 120px;
  width: 100px;
  border: 1px solid #333;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#semi {
  margin-top: 120px;
  display: flex;
  position: absolute;
}

#semi .left-side-contenders {
  display: flex;
  flex-direction: column;
  margin-right: 350px;
  margin-left: 375px;
  /* gap: 7px; */
}

#semi .right-side-contenders {
  display: flex;
  float: right;
  flex-direction: column;
}

.qualified-semi {
  height: 200px;
  width: 100px;
  border: 1px solid #333;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#finals {
  margin-top: 220px;
  display: flex;
  position: absolute;
}

#finals .left-side-contenders {
  display: flex;
  flex-direction: column;
  margin-right: 600px;
  margin-left: 500px;
}

#finals .right-side-contenders {
  display: flex;
  float: right;
  flex-direction: column;
}

.qualified-finals {
  height: 80px;
  width: 50px;
  border: 1px solid #333;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.groups.a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}